* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b2434;
  font-family: "Karla", sans-serif;
}
img {
  max-width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  height: 500px;
  max-width: 420px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-inline: 35px;
}

.header {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 290px;
}

.header h1 {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;
  color: #2b283a;
}

.header p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #4a4e74;
  /* margin-bottom: 28px; */
}

.dice--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
}
.dice {
  /* background: #ffffff; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.dice p {
  color: #2b283a;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
}

.btn {
  background: #5035ff;
  padding: 15px 38px;
  border: none;
  border-radius: 3.81277px;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  color: #ffffff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  margin-top: 27px;
  font-family: "Karla";
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  transition: all 0.3s;
}

.btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.winning--text h1 {
  color: #2b283a;
  text-align: center;
  font-size: 2.15rem;
}

.winning--text p {
  color: #4a4e74;
  font-family: 'Inter', sans;
}

.lowestRoll {
  text-align: center;
}